.navbar {
    background-color: transparent;
}

.navbar-brand {
    font-weight: bold;
}
.welcome {
    font-weight: bold;
    color: #748c08;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #9da4b1 !important;
        opacity: 0.5;
        position: static;
    }
}

.top-nav-collapse {
    background-color: #9da4b1 !important;
}
.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #9da4b1 !important;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #9da4b1 !important;
    }
}

footer.page-footer {
    background-color: #9da4b1;
}
